
.banner-home{
  background-image: url('https://images.unsplash.com/photo-1468407161946-009af5afe6a6?dpr=2&auto=format&fit=crop&w=1500&h=605&q=80&cs=tinysrgb&crop=&bg=');
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  padding-top: 50px;
  width: 100%;
  &_call{
    border-radius: 50%;
    border: 1px #fff solid;
    height: 640px;
    margin: auto;
    overflow: hidden;
    padding: 0px 53px;
    text-align: center;
    width: 640px;
    .logo{
      display: block;
      margin: 90px auto 90px;
    }
    .title{
      color: #fff;
      display: block;
      font-size: 36px;
      font-weight: 300;
      text-align: center;
    }
    .btn-container {
       margin-top: 90px;
    }
    &_btn{
      border-radius: 50px !important;
      font-size: 12px;
      font-weight: 300;
    }
    .btn:hover {
      background-color: #004e6c;
    }
  }
}


@media only screen and (max-width: 670px) {
  .banner-home{
    &_call{
      height: 350px;
      width: 350px;
      padding: 0;
      .logo{
        margin: 30px auto 30px;
      }
      .title{
        font-size: 24px;
      }
      .btn-container{
        margin-top: 0;
      }
    }
  }

}
